<template>
<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-8 ml-auto mr-auto">
               <form class="form" name="registro" id="registro">
                <div class="card card-login card-hidden mb-3">
                    <div class="card-header card-header-info text-center">
                        <div class="card-title" style=" font-weight: bold; font-size:25px;">Reservar Cita</div>
                    </div>
                    
                    <div class="">
                       <div class="card-body ">
                                <div class="input-group">
                                <VueDatePicker 
                                v-model="date" 
                                format="YYYY-MM-DD" 
                                button-validate="Ok"
                                button-cancel="Cancel"
                                validate/>
                                </div>

                                <div class="input-group">

                                    <div class="input-group-prepend">
                                       <span class="input-group-text">
                                          <i class="material-icons">library_add_check</i>
                                       </span>
                                    </div>
                                       <div class="form-group-text  mt-3"> 
                                       
                                        <select v-model="status" class="custom-select mt-3" name="status" id="select-status">
                                             <option value="0">Seleccionar Status de la Cita</option>
                                             <option value="Por Confirmar">Por Confirmar</option>
                                             <option value="Confirmado">Confirmado</option>
                                             <option value="Cancelado">Cancelado</option>
                                        </select>  
                                </div>

                                <div class="input-group">

                                    <div class="input-group-prepend">
                                       <span class="input-group-text">
                                          <i class="material-icons">work</i>
                                       </span>
                                    </div>
                                    <div class="form-group-text  mt-3"> 
                                       
                                        <select v-model="selectEspecialidad" class="custom-select mt-3" name="especialidad" id="select-especialidad">
                                         <option key="0">Seleccionar Especialidad</option>
                                             <option v-for="especialidad in especialidades" :key="especialidad.id">{{especialidad.nombre}}</option>
                                         </select> 
                                  </div>
                                </div>


                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="material-icons">medical_services</i>
                                    </span>
                                </div>
                                
                                <select v-model="selectDoctor"  class="custom-select mt-3" name="iddoctor" id="select-doctor">
                                <option value="0">Seleccionar Doctor</option>
                                    <script language="javascript" src="/js/create.js">
                                    </script>
                               </select>

                            </div>

                             <div class="input-group">

                                    <div class="input-group-prepend">
                                       <span class="input-group-text">
                                          <i class="material-icons">person</i>
                                       </span>
                                    </div>
                                    <div class="form-group-text  mt-3"> 
                                       
                                        <select v-model="selectBeneficiario" class="custom-select mt-3" name="idbeneficiario" id="select-beneficiario">
                                         <option key="0">Seleccionar Paciente</option>
                                             <option v-for="paciente in pacientes" :key="paciente.id">{{paciente.nombre+' '+paciente.apellido}}</option>
                                         </select> 
                                  </div>
                             </div>

                             
                        </div>
</div>
                    
                      <div class="card-footer justify-content">
                            <!--<button type="submit"
                              class="btn btn-info">{{ __('Reservar') }}
                            </button> 
                            <button type="reset"
                                class="btn btn-danger">{{ __('Cancelar') }}
                           </button> -->
                            <input type="submit" class="btn btn-info " value="Reservar" @click="validar(); guardar();">
                            <input type= "reset" class="btn btn-danger " value="Cancelar">
                       </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
   </div>
</div>

</template>

  <script>
import { VueDatePicker } from '@mathieustan/vue-datepicker';
import '@mathieustan/vue-datepicker/dist/vue-datepicker.min.css';
  export default {
      
      created(){
           this.listar();
       },
       data(){
           return{
               status:'',
               selectEspecialidad:'',
               selectDoctor:'',
               especialidades:[],
               pacientes:[],
               date: new Date(),

           }
       },
        components : {
         VueDatePicker,
       },
       methods:{

          listar: function(){
             var url = 'http://127.0.0.1:8000/especialidades';
                  axios.get(url).then(response => {
                  this.especialidades=response.data;
                  });
             var urlp = 'http://127.0.0.1:8000/paciente';
                  axios.get(urlp).then(response => {
                  this.pacientes=response.data;
                  });
          },
          guardar: function(){
            var URLguardar = 'http://127.0.0.1:8000/GuardarCita';
              axios.post(URLguardar);
          },
         validar:function(){

        if(this.status == 0||this.texto== "")
        {
               alert('* Debe Seleccionar el campo Status.');
               document.registro.status.focus();
               $("#registro").submit(function(event){
               event.preventDefault();
        });                                 
        }else{
            if (this.status.value == 0||this.status.value== "") {
                alert('* Debe Seleccionar el campo Especialidad.');
                document.registro.especialidad.focus();
                $("#registro").submit(function(event){
                event.preventDefault();
            }); 
            }else{
                if (this.selectEspecialidad.value == 0||this.selectEspecialidad.value== "") {
                    alert('* Debe Seleccionar el campo Doctor.');
                    document.registro.iddoctor.focus();
                    $("#registro").submit(function(event){
                    event.preventDefault();
                }); 
                }else{
                    if (this.selectDoctor.value == 0||this.selectDoctor.value== "") {
                        alert('* Debe Seleccionar el campo Paciente.');
                        document.registro.idbeneficiario.focus();
                        $("#registro").submit(function(event){
                        event.preventDefault();
                    });
                    }else{
                        
                        $("#registro").unbind('submit');

                         }
                    }
                } 
               }      
            }   
          },
      
     }   
                                            
</script>
