<template>
<div class="content">
    <div class="container-fluid">
   <div class="row">
       <div class="col-lg-12 col-md-10 col-sm-8 ml-auto mr-auto">
           <div class="col-lg-4 col-md-4 col-sm-4  mr-auto">
                     <!-- Buscador de Citas -->
                     <div class="input-group no-border">
                           <input  v-model="texto" key="" type="text" name="texto" id="texto" class="form-control" placeholder="Buscar por Cedula o Fecha: dd-mm-aaaa">
                           <button @click="buscador();" type="submit" class="btn btn-info btn-round btn-just-icon"><i class="material-icons">search</i> </button>  
                       </div>
           </div>
       </div>
       
   </div>
   <hr>
 </div>

<!-- Tarjetas Citas-Doctores-Especialdad -->
<div class="row">
         <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
         <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_paste</i>
              </div>
              <p style=" font-weight: bold;" class="card-category">Citas del dia</p>
              <h3 style=" font-weight: bold;" class="card-title">{{contadorC[0].contador}}</h3>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">medical_services</i>
              </div>
              <p style=" font-weight: bold;" class="card-category">Doctores</p>
              <h3 style=" font-weight: bold;" class="card-title">{{contadorD[0].contador}}</h3>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">work</i>
              </div>
              <p style=" font-weight: bold;" class="card-category">Especialidades</p>
              <h3 style=" font-weight: bold;" class="card-title">{{contadorE[0].contador}}</h3>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>

<!-- Colocar Barra de Mensaje Success -->
<div v-if="alert" class="alert alert-success" v-text="alert">{{ session('success') }}</div>

<div class="table-responsive">
                  <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style=" font-weight: bold;">Opciones</th>
                                <th style=" font-weight: bold;">Fecha</th>
                                <th style=" font-weight: bold;">Estado</th>
                                <th style=" font-weight: bold;">Paciente</th>
                                <th style=" font-weight: bold;">Cedula</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="(contadorC[0].contador)<=0">
                                <td colspan=5>No Hay Citas Registadas</td>

                            </tr>
                           <tr v-for="cita in citas" :key="cita.id">
                                <td>
                                <button @click="abrirModal(cita);" type="button" class="btn btn-success btn-round btn-sm">
                                Ver Detalles<i class="material-icons">feed</i></button>
                                  
                                  <!-- Modal -->
                                  <div class="modal" :class="{mostrar:modal}">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">

                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel" style=" font-weight: bold;">Detelle de la Cita</h5>
                                              <button @click="cerrarModal();" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                         <div class="modal-body">

                                           <div>
                                             <label for="dia">Fecha:</label>
                                             <input v-model="datos.dia" type="text" class="form-control" id="fecha" readonly>
                                           </div>
                                           <div>
                                             <label for="status">Estado:</label>
                                             <input v-model="datos.status" type="text" class="form-control" id="status" readonly>
                                           </div>
                                           <div>
                                             <label for="nombre">Nombre y Apellido:</label>
                                             <input v-model="datos.nombre" type="text" class="form-control" id="nombre" readonly>
                                           </div>
                                           <div>
                                             <label for="cedula">Cedula de Identidad::</label>
                                             <input v-model="datos.cedula" type="text" class="form-control" id="cedula" readonly>
                                           </div>
                                           <div>
                                             <label for="telefono">Telefono:</label>
                                             <input v-model="datos.telefono" type="text" class="form-control" id="telefono" readonly>
                                           </div>
                                           <div>
                                             <label for="empresa">Empresa:</label>
                                             <input v-model="datos.empresa" type="text" class="form-control" id="empresa" readonly>
                                           </div>

                                         </div>
                                        <div class="modal-footer">
                                          <button @click="cerrarModal();" type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cerrar</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- End Modal -->

                                </td>
                                <td>{{cita.dia}}</td>
                                <td>{{cita.status}}</td>
                                <td>{{cita.nombre}} {{cita.apellido}}</td>
                                <td>{{cita.cedula}}</td>
                            </tr>
                        </tbody>
                        
                  </table>
                 <!-- {{$citas->links()}} -->
               </div>

</div>
</template>

<script>
    export default {
      created(){
           this.listar();
       },
       data(){
           return{
               modal:0,
               texto:'',
               citas:[],
               contadorC:[],
               contadorD:[],
               contadorE:[],
               datos:{
                 dia:'',
                 status:'',
                 nombre:'',
                 cedula:'',
                 telefono:'',
                 empresa:'',
               },
           }
       },
       methods:{

          listar: function(){
             var url = 'http://127.0.0.1:8000/listadoCitas';
                  axios.get(url).then(response => {
                  this.citas=response.data;
                  });
              var urlcontadorC = 'http://127.0.0.1:8000/contadorC';
              axios.get(urlcontadorC).then(response => {
                  this.contadorC=response.data;
                  });

              var urlcontadorD = 'http://127.0.0.1:8000/contadorD';
              axios.get(urlcontadorD).then(response => {
                  this.contadorD=response.data;
                  });

              var urlcontadorE = 'http://127.0.0.1:8000/contadorE';
              axios.get(urlcontadorE).then(response => {
                  this.contadorE=response.data;
                  });
          },
          abrirModal:function(data={}){
              this.modal=1;
              this.datos.dia=data.dia;
              this.datos.status=data.status;
              this.datos.nombre=data.nombre+' '+data.apellido;
              this.datos.cedula=data.cedula;
              this.datos.telefono=data.telefono;
              this.datos.empresa=data.empresa;

          },
          cerrarModal:function(){
              this.modal=0;
          },
           buscador: function(){

             if(this.texto == 0||this.texto== "")
             {
                alert('* Debe Llenar el Campo para poder Buscar.');
                texto.focus();
                $("#texto").submit(function(event){
                event.preventDefault();
                 });                                 
             }else{
                 $("#texto").unbind('submit');
                 var url = 'http://127.0.0.1:8000/buscador/'+this.texto;
                  axios.get(url).then(response => {
                  this.citas=response.data;
                  });
              this.texto='';
              var urlcontadorC = 'http://127.0.0.1:8000/contadorC';
              axios.get(urlcontadorC).then(response => {
                  this.contadorC=response.data;
                  });

              var urlcontadorD = 'http://127.0.0.1:8000/contadorD';
              axios.get(urlcontadorD).then(response => {
                  this.contadorD=response.data;
                  });

              var urlcontadorE = 'http://127.0.0.1:8000/contadorE';
              axios.get(urlcontadorE).then(response => {
                  this.contadorE=response.data;
                  });
            }
          },
       },
       
    }
</script>

<style>
.mostrar{
display:list-item;
opacity: 1;
background: rgb(209, 211, 211);
}

</style>
