<template>
<div class="content">
    <div class="container-fluid">
   <div class="row">
       <div class="col-lg-12 col-md-10 col-sm-8 ml-auto mr-auto">
           <div class="col-lg-4 col-md-4 col-sm-4  mr-auto">
                     <!-- Buscador de Paciente -->
                     <div  class="input-group no-border">
                           <input  v-model="texto" key="" type="text" name="texto" id="texto" class="form-control" placeholder="Buscar por Cedula">
                           <button @click="buscador();" type="submit" class="btn btn-info btn-round btn-just-icon"><i class="material-icons">search</i> </button>  
                       </div>
           </div>
       </div>
       
   </div>

 </div>

<!-- Colocar Barra de Mensaje Success -->
<br><div style=" font-weight: bold; font-size:25px;">LISTA DE PACIENTES</div>
<br><hr><br>
<div  class="table-responsive">
                  <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style=" font-weight: bold;">Cita</th>
                                <th style=" font-weight: bold;">Nombre</th>
                                <th style=" font-weight: bold;">Apellido</th>
                                <th style=" font-weight: bold;">Cedula</th>
                                <th style=" font-weight: bold;">Teléfono</th>
                                <th style="width:30%; font-weight: bold;">Empresa</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr v-if="(pacientes.length)<=0">
                                <td colspan=6>No Hay Paciente Registado con esa Cedula</td>
                            </tr>

                           <tr v-for="paciente in pacientes" :key="paciente.id">
                                
                                <td ><a  method="GET" @click="ruta(paciente.cedula);" class="btn btn-success btn-round btn-sm">Reservar<i class="material-icons">feed</i></a></td>
                                <td>{{ paciente.nombre}}</td>
                                <td>{{ paciente.apellido}}</td>
                                <td>{{ paciente.cedula }}</td>
                                <td>{{ paciente.telefono }}</td>
                                <td>{{ paciente.empresa }}</td>
                            </tr>
                        </tbody>
                        
                  </table>
                 <!-- {{$citas->links()}} -->
               </div>

</div>
</template>

<script>
    export default {
      created(){
           this.listar();
       },
       data(){
           return{
               pacientes:[],
               prueba:[],
               texto:'',
               
           }
       },
       methods:{

           ruta: function(cedula){
             var ruta = 'http://127.0.0.1:8000/cita/'+cedula;
              window.location.href = ruta;
          },

          listar: function(){
             var url = 'http://127.0.0.1:8000/listadoPacientes';
                  axios.get(url).then(response => {
                  this.pacientes=response.data;
                  });
          },
          
           buscador: function(){

             if(this.texto == 0||this.texto== "")
             {
                alert('* Debe Llenar el Campo para poder Buscar.');
                texto.focus();
                $("#texto").submit(function(event){
                event.preventDefault();
                 });                                 
             }else{
                 $("#texto").unbind('submit');
                  var url = 'http://127.0.0.1:8000/buscadorPaciente/'+this.texto;
                  axios.get(url).then(response => {
                  this.pacientes=response.data;
                  });
                  this.texto='';
                 }
          },
       },
       
    }
</script>

<style>
.mostrar{
display:list-item;
opacity: 1;
background: rgb(209, 211, 211);
}

</style>
